<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form 
      [query]="queryChanges | async"
      (searchChange)="search($event)"></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <ng-container *ngIf="albumChanges | async as albums">

      <p>Found {{ (albums)?.length }} albums</p>

      <app-search-results [albums]="albums">
      </app-search-results>
    </ng-container>
    <ng-container *ngIf="albumChanges | async as albums">

      <p>Found {{ (albums)?.length }} albums</p>

      <app-search-results [albums]="albums">
      </app-search-results>
    </ng-container>
  </div>
</div>