<!-- https://getbootstrap.com/docs/4.3/components/input-group/#button-addons -->


<div class="form-group mb-3" [formGroup]="searchForm">

  <input type="text" formControlName="query" class="form-control">


  <div *ngIf="searchForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">

      <div *ngIf="field.hasError('required')" i18n="required_error | Field required">
        Field is required
      </div>

      <div *ngIf="field.getError('minlength') as error" i18n="min error">
        Minimum {{error.requiredLength}} characters required
      </div>
      
      <div *ngIf="field.getError('censor') as error" i18n="min error">
        Cant include string {{error.badword}}
      </div>
    </ng-container>
  </div>
</div>

<!-- 
<div class="input-group mb-3">
  <input type="text" class="form-control" 
    (keyup.enter)="search(queryRef.value)"
    placeholder="Search" #queryRef>
  
  <div class="input-group-append">
    <button class="btn btn-outline-secondary"
    (click)="search(queryRef.value)">
      Search
    </button>
  </div>
</div> -->