<div class="row">
  <div class="col">

    <app-items-list [items]="playlists" [selected]="selected" (selectedChange)="select($event)">
    </app-items-list>

  </div>
  <div class="col">
    <app-playlist-details [playlist]="selected" (playlistSave)="save($event)">
    </app-playlist-details>
  </div>
</div>