<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{
      exact:true 
    }">Music App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]=" ['/music' ] ">Music Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/playlists">Playlists</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">


      <router-outlet></router-outlet>

    </div>
  </div>
</div>