<!-- https://getbootstrap.com/docs/4.3/components/card/#card-groups -->

<div class="card-group">
  <app-album-card class="card"
    *ngFor="let album of albums" [album]="album">
  </app-album-card>

</div>
<!-- <div app-album-card class="card"></div> -->