// @color: 'hotpink'

// ::ng-deep p {

// .theme-pink ... items-list p
:host-context(.theme-pink) p {
    color: hotpink;
}

// ... items-list.selected p
:host(.selected){
    border:1px solid black;
    display: block;
}