<!-- <ng-template [ngIf]="mode == 'show'" [ngIfThen]="showRef" [ngIfElse]="editorRef"></ng-template> -->

<ng-container [ngSwitch]="mode">

  <div *ngSwitchDefault>
    <dl [id]=" 'playlist_' + playlist.id " [title]="playlist.name" [attr.data-id]="playlist.id">
      <dt>Name:</dt>
      <dd [style.font-size.px]=" 20 ">{{playlist.name}}</dd>

      <dt>Favorite</dt>
      <dd>{{ playlist.favorite? 'Yes':'No' }}</dd>

      <dt>Color</dt>
      <dd [ngStyle]="{
                color: playlist.color, 
                'border-bottom': '1px solid ' + playlist.color 
              }">{{playlist.color}}</dd>
    </dl>
    <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
  </div>

  <div *ngSwitchCase="  'edit' ">

    <form #formRef="ngForm" (ngSubmit)="save(formRef)">
      <div class="form-group">
        <label>Name: </label>
        <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel">
        <!-- {{nameRef.value.length}} / 120 -->
      </div>

      <div class="form-group">
        <label>Favorite: </label>
        <input type="checkbox" [ngModel]="playlist.favorite" name="favorite">
      </div>

      <div class="form-group">
        <label>Color: </label>
        <input type="color" [ngModel]="playlist.color" name="color" class="form-control">
      </div>

      <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
      <input type="submit" value="Save" class="btn btn-success">
    </form>
  </div>

</ng-container>

<!-- <ul>
  <ng-container *ngIf="check()">
    <li></li>
    <li></li>
  </ng-container>
</ul> -->